@import "com1";
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  font-size:16px;
}
body,html{
  height:100%;
}

.st1{
  height:45px;
  width:100%;
  input{
    height:28px;
    width:44px;
    border:1px solid #686972;
    font-size:12px;
    color:#fff;
    text-align: center;
    line-height:28px;
    margin-right:-5px;
    margin-top:17px;
    background: none;
    &:nth-child(2){
      border-left:0;
      border-right:0;
    }
  }

}

.box{
  width: 100%;
  height:100%;
  display: flex;
  background: url("../img/blue.jpg");
  background-size: cover;
  .box-left{
    width: 180px;
    display: flex;
    flex-direction: column;
    .left-top{
      height:50px;
      border-bottom:1px solid #416683;
      span{
        float:left;
        width:45px;
        height:50px;
        text-align: center;
        background:rgba(0,0,0,0.9);
        line-height: 50px;
        svg{
          color:#ffffff;
        }
      }
      a{
        float:left;
        width:135px;
        font-size:16px;
        height:50px;
        color:#fff;
        background:rgba(0,0,0,0.1);
        line-height:50px;
      }
    }
    .left-bot{
      flex: 1;
      width:180px;
      background:rgba(0,0,0,0.5);
      li{
        padding-left:30px;
        height:42px;
        color:#91959b;
        &:hover{
          background:#010102;
          color:#fff;
        }
        svg{
          font-size:14px;
          font-weight: 600;
        }
        .left1{
          font-size: 12px;
          margin-left: 5px;
          font-weight: 600;
        }
      }

    }
  }
  .box-right{
    flex:1;
    display: flex;
    flex-direction: column;
    .box-right-top{
      height:50px;
      border-bottom:1px solid #416683;
      display: flex;
      .masg{
        a{
          display:block;
          position: relative;
          height:50px;
          img{
            float:left;
            margin:17px 7px 0 17px;
          }
          .s1{
            position: absolute;
            left:36px;
            top:7px;
            display:block;
            width:13px;
            height:17px;
            line-height:17px;
            color:#fff;
            border-radius:2px;
            text-align: center;
            background:#ef0101;
          }
          .s2{
            float: left;
            height:50px;
            vertical-align:top;
            font-size:12px ;
            line-height:50px;
            color:#fff;
            padding-right:22px;
          }
        }
      }
      .warm {
        @extend .masg;
        margin-left: 10px;
        a {
          .s1 {
            left: 25px;
          }
          .svgs{
            float:left;
            width: 10px;
            height:50px;
          }
          svg {
            font-size: 25px;
            margin: 12px 7px 0 7px;
          }
          .s2{
            margin-left: 30px;
          }
        }
      }
      form{
        margin-left: 30px;
        display: inline-block;
        height:50px;
        .in1{
          outline: none;
          border:0px;
          height:50px;
          width:40px;
          background: url("../img/search.png") no-repeat center;
        }
        .in2{
          vertical-align: top;
          height:50px;
          min-width: 200px;
          line-height:50px;
          font-size: 20px;
          outline: none;
          color:#fff;
          background: none;
          border:0px;
        }
      }
    }
    .box1{
      flex: 1;
      display: flex;
      flex-direction: column;
      .r1top{
        height:34px;
        border-bottom:#436883 1px solid;
        span{
          float: left;
          color:#fff;
          font-size:14px;
          line-height:42px;
          text-indent: 15px;
        }
        .top-r{
          float: right;
          color:#7c8b8e;
          margin-right:15px;
          a{
            display: inline-block;
            color:#fff;
            font-size: 14px;
            line-height:42px;
            padding: 0 5px;
            &:hover{
              color:#ffd600;
            }
          }
          .active{
            color:#ffd600;
          }
        }
      }
      .r1bot{
        flex:1;
        display: flex;
        .right1{
          color:#fff;
          flex:1;
          .rbox1{
            background: rgba(0,0,0,0.2);
            margin: 15px 7px 0 15px;
            .tab{
              background: rgba(0,0,0,0.3);
              caption{
                text-align: left;
                text-indent: 10px;
                height:28px;
                font-size: 12px;
                line-height:28px;
              }
              thead{
                background: rgba(0,0,0,0.3);
                tr{
                  height:31px;
                  border-bottom:1px solid #7c8b8e;
                  th{
                    font-size:12px;
                    text-align: left;
                    text-indent: 8px;
                  }
                }
              }
              tbody{
                tr{
                  height:36px;
                  border-bottom:1px solid #7c8b8e;
                  td{
                    font-size:12px;
                    text-align: left;
                    text-indent: 8px;
                  }
                }
              }
            }
            .tfix{
              @extend .st1;
            }
            
          }
        }
        .right2{
          flex:1;
          .right2-1{
            color:#fff;
            margin: 15px 15px 0px 7px;
            background: rgba(0,0,0,.5);
            display: none;
            h5{
              font-size:12px;
              text-indent:10px;
              line-height: 28px;
            }
            p{
              background: rgba(0,0,0,0.3);
              .sleft1{
                display: inline-block;
                width:35%;
                text-indent:8px;
                height:31px;
                font-size:12px;
                line-height:31px;
                &:last-child{
                  width: 65%;
                }
              }
            }
            ul li{
              border-bottom: 1px solid #2e4f43;
              height:36px;
              .intt1{
                display: inline-block;
                width:63%;
                text-indent:8px;
                border:0;
                outline: none;
                height: 36px;
                line-height: 36px;
                color:#fff;
                font-size: 12px;
                background: none;
              }
              .sleft{
                display: inline-block;
                width:35%;
                text-indent:8px;
                height:36px;
                font-size:12px;
                line-height:36px;
              }
            }
            .tfix{
              @extend .st1;
              input{
                &:nth-child(2){
                  border-right:1px solid #686972;
                }
              }
            }
            
          }
          .active{
            display:block;
          }
        }
      }
    }
  }
}


